* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  
}
  
body {
  
  background-color: black;
  height: 1200px;
<<<<<<< HEAD
}
#login{
  margin-top: 5.5rem;
=======
>>>>>>> 7efbcc147825ce7c6b1ba1c960dd2c12e135eeaa
}

/* .header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 10px;
  font-size: 50px;
  color: white;
} */

fieldset {
    width: 30rem;
    min-width: 10rem;
    margin: auto;
    padding: 2rem 3rem 2rem 3rem;
    border: solid #f3722c 5px;
    border-radius: 10px;
    min-width: 200px;
    background-color: black;
    color: white;  
}
  
legend {
    
  padding: 10px;
  font-size: 30px;
  color: #f3722c;

}

label {

    display: block;
    font-size: 25px;
}

input {
    padding: 3px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:;
}

input[type="password"] {

  width: 100%;
  padding: 10px;

}

input[type="text"] {

    width: 100%;
    padding: 10px;

}

.login-btn {

    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 80px;
    color: black;
    position: relative;
    left: 28%;
    font-size: 30px;

}


.myForm {

  padding: 10px;
  background-color: black;
  
}

  
.nav_bar {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
  background-color: black;
  position: fixed;
  z-index: 999;
  
}

.top-buttons{

  display: flex;
  justify-content: center;
}


.change-modal .modal-content{

padding: 20px;

}
/* 
.radio-class{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
} */

#hab_name{
  margin-bottom: 5px;
}

/* .nav_bar{
  position: fixed;
} */

.btn-section{

  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
  
 
 }

.btn-add{
width: 12rem;
height:6rem ;
font-size: 3rem;

}

.btn-logout{
width: 12rem;
height: 6rem;
font-size: 3rem;
margin-top: 8px;
margin-left: 3rem;
}
.btn-close  {
width: 50%;
font-size: 30px;



}

.btn-primary {
margin-left: 5px  ;
font-size: 30px;

}


.btn-register{

height: 70px;
width: 50%;
font-size: 28px;

}


.btn-login {

 margin-top: 7.5px;
 height: 70px;
 width: 50%;
 
}



#reg_email  {
 width: 100%;
 height: 50px;
 
}

#reg_password {
  width: 100%;
  height: 50px;
 }

 .frequencies{
   display: flex;
   justify-content: space-between;
   padding-top:1.5rem;
   padding-bottom: 0.5rem;
 }

 input[type="number"] {
width: 30%;
border: 2px solid black;
border-radius: 5px;
box-sizing: border-box;

 } 

 #timing {
  height: 35px;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;
 }

 #colours{
  height: 35px;
  width: 30%;
  border: 2px solid black;
  border-radius: 5px;
  box-sizing: border-box;


 }

 .colour{
display: flex;
justify-content: space-around;

 }

 #green {
  background-color: green;
 }
