* {
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  body {
    padding: 50px;
    background-color: black;
  }
  .header{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
  font-size: 50px;
color: white;
}

fieldset {
    width: 40%;
    margin: auto;
    padding: 10px;
    border: solid white 5px;
    border-radius: 10px;
    min-width: 200px;
    background-color: #f94144;
    color: white;
    
  }
  
  legend {
    
    padding: 10px;
    font-size: 30px;
    color: white;
  }

  label {
    display: block;
    font-size: 25px;
  }
  input {
    padding: 3px;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color:;
  }
  

  input[type="text"] {
    width: 100%;
    padding: 10px;
  }

  .login-btn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 80px;
    color: black;
    position: relative;
    left: 28%;
    font-size: 30px;

  }


  .myForm {
  padding: 50px;
  background-color: black;
  }

  
  nav {
       color: #ffff;
       font-size: 60px;
       font-weight: bold;
       border-bottom: 1px solid #38444d;
       text-align: center;
     }

.change-modal .modal-content{
padding: 20px;


 }

 .radio-class{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;

  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
 }

 .btn-danger{
font-size: 30px;
}
.btn-primary {
  font-size: 30px;
  }

  
.btntoadd{

  font-size: 50px;
}

.btn-register{
width: 200px;
height: 70px;
background-color: white;
color: black;

}